.pago-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.pago-container p{
    font-size: 20px;
    text-align: center;
    
}

.empty{
    height: 200px;
}

.w-pers{
    width: 200px;
}